.sidebar{
    position: fixed;
    left: 0;
    bottom: 0;
    top: 55px;
    width: 72px;
    background-color: white;
    z-index: 200;
}
.side-link{
    width:72px;
    height: 74px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.side-link img{
    width: 25px;
}

.side-link p{
    font-size: 10px;
    margin-top: 8px;
}

.side-link:hover{
    background-color: rgb(242, 242, 242);
    cursor: pointer;
}
@media (min-width:1300px){
    body{
        padding-left: 280px;
    }
    .sidebar{
        width: 250px;
        align-items: flex-end;
    }
    .side-link{
        width: 220px;
        height: 45px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        position: relative;
        padding:0 10px 0 22px;
        top: 10px;

    }
    .side-link p{
        width: 100px;
        position: absolute;
        left: 75px;
        top: 8px;
        font-weight: 500;
        font-size: 12px;
    }
   
}